<link rel="stylesheet" href="/assets/css/page/dayupdate.css">
<link rel="stylesheet" href="/assets/plugins/jedate/jedate.css">
<div class="dayupdate container">
    <div class="searchbox qf">
        <div class="left fl">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                    女装上新
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="javascript:;">女装上新</a>
                    </li>
                    <li>
                        <a href="javascript:;">男装上新</a>
                    </li>
                    <li>
                        <a href="javascript:;">箱包上新</a>
                    </li>
                    <li>
                        <a href="javascript:;">其它上新</a>
                    </li>
                </ul>
            </div>
            <div class="datetimepicker">
                <input size="16" id="date" type="text" value="" readonly>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <a href="javascript:;" role="button" class="btn btn-sm">查看</a>
            <a href="javascript:;" role="button" class="btn btn-sm">今天</a>
            <a href="javascript:;" role="button" class="btn btn-sm">前一天</a>
            <a href="javascript:;" role="button" class="btn btn-sm">后一天</a>
            <span class="numall">共
                <font color="red">11</font>款</span>
        </div>
        <div class="right fr">
            <div class="btn-group btn-group-sm btngroup3" role="group" aria-label="">
                <button type="button" class="btn active">时间</button>
                <button type="button" class="btn">销量</button>
                <button type="button" class="btn">价格</button>
            </div>
        </div>
    </div>
    <div class="contentbox" id="contentbox">
        <ul class="qf">
            {{#each list}}
            <li class="productitem">
                <a href="{{url}}">
                    <dl class="item-content">
                        <dt>
                            <img src="{{img}}" alt="">
                        </dt>
                        <dd>
                            <div class="msg qf">
                                <strong class="price fl">￥{{price}}</strong>
                                <span class="fr">已批
                                    <strong>{{num}}</strong>件</span>
                            </div>
                            <p class="name">{{name}}</p>
                            <p class="shopname">
                                <a href="javascript:;">{{shopname}}</a>
                            </p>
                        </dd>
                    </dl>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<script src="/assets/plugins/jedate/jedate.js"></script>
<script>
    var start = {
        dateCell: '#date',
        format: 'YYYY-MM-DD',
        minDate: '2014-06-16', //设定最小日期为当前日期
        festival:true,
        maxDate: '2099-06-16', //最大日期
        isTime: false,
        choosefun: function(datas){
            //开始日选好后，重置结束日的最小日期
        }
    };
jeDate(start);
</script>