<link rel="stylesheet" href="/assets/css/page/shop.css">
<div class="shop container">

    <div class="shop-main mt10 clearfix">
        {{!-- 商店信息 --}}
        {{#each shop_info}}
        <div class="shop-info pull-left">
            <div class="shop-name fs-18">{{name}}</div>
            <ul class="shop-data">
                <li>地址： {{address}}</li>
                <li>主营：{{business}}</li>
                <li>商品数量：{{num}}款</li>
                <li>销量：{{sales}}</li>
                <li>访问量：{{views}}</li>
                <li>排名：{{rank}}</li>
                <li>商家类型：{{businessType}}</li>
                <li>更新时间：{{updateTime}}</li>
                <li class="btns">
                    <a class="c-blue" href="">关注商家(0)</a>
                    <a href="">去淘宝</a>
                </li>
                <li>电话：{{phone}}</li>
                <li>QQ：{{qq}}</li>
            </ul>
        </div>
        {{/each}}
        {{!-- 右侧 --}}
        <div class="right pull-right">
            <div class="signature clearfix">
                <a class="pull-left" href="#"><img src="http://www.taoee.com/template/20140828/Images/signature-left.jpg" alt=""></a>
                <a class="pull-left" href="#"><img src="http://www.taoee.com/template/20140828/Images/signature-center.jpg" alt=""></a>
                <a class="pull-left" href="#"><img src="http://www.taoee.com/template/20140828/Images/signature-right.jpg" alt=""></a>
            </div>
            <div class="shop-type">
                <div class="bar clearfix">
                    <div class="title pull-left fs-18">商品分类</div>
                    <input class="submit pull-right" type="submit" value="搜索">
                    <input class="search-txt pull-right" type="text" value="">
                </div>
                <div class="con">
                    <a href="">所有商品</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                    <a href="">女装 (72)</a>
                    <a href="">长裙 (1)</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt15 mb15 clearfix">
        {{!-- 筛选 --}}
        <div class="btn-group btn-group-sm btngroup3 pull-left screening" role="group" aria-label="">
            <button type="button" class="btn active">销量</button>
            <button type="button" class="btn">价格</button>
            <button type="button" class="btn">上新时间</button>
            <button type="button" class="btn">下架商品</button>
        </div>
        <div class="pull-right">
            1/2页 共<span>143</span>款商品
        </div>
    </div>

    {{!-- 商品列表 --}}
    <div class="contentbox" id="contentbox">
        <ul class="qf">
            {{#each product_info}}
            <li class="productitem">
                <a href="{{url}}">
                    <dl class="item-content">
                        <dt>
                            <img src="{{img}}" alt="">
                        </dt>
                        <dd>
                            <div class="msg qf">
                                <strong class="price fl">￥{{price}}</strong>
                                <span class="fr">已批
                                    <strong>{{num}}</strong>件</span>
                            </div>
                            <p class="name">{{name}}</p>
                        </dd>
                    </dl>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    
</div>
{{> component/footer_other}}