<div class="banner-con clearfix">
    {{!-- 侧边菜单导航 --}}
    {{!-- <ul class="menu pull-left">
        <li class="menu-li">
            <div class="pro-type-block">
                <h5 class="pro-type-parent"><a href="#">女装</a></h5>
                <h5 class="pro-type-child">
                    <a href="#">打底裤</a>
                    <a href="#">卫衣</a>
                    <a href="#">打底裤</a>
                </h5>
            </div>
            <div class="menu-con">
                <div class="pro-left pull-left">
                    <div class="pro-type-block">
                        <h5 class="pro-type-parent"><a href="#">女装</a></h5>
                        <h5 class="pro-type-child">
                            <a href="#">打底裤</a>
                            <a href="#">卫衣</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">打底裤</a>
                        </h5>
                    </div>
                    <div class="pro-type-block">
                        <h5 class="pro-type-parent"><a href="#">女装</a></h5>
                        <h5 class="pro-type-child">
                            <a href="#">打底裤</a>
                            <a href="#">卫衣</a>
                            <a href="#">打底裤</a>
                        </h5>
                    </div>
                </div>
                <div class="pro-right pull-left">
                    <div class="pro-type-block">
                        <h5 class="pro-type-parent">推荐商家</h5>
                        <h5 class="pro-type-child">
                            <span><a href="#">依桂子网络服饰</a></span>
                            <span><a href="#">依桂子网络服饰</a></span>
                            <span><a href="#">依桂子网络服饰</a></span>
                        </h5>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-li">
            <div class="pro-type-block">
                <h5 class="pro-type-parent"><a href="#">女装</a></h5>
                <h5 class="pro-type-child">
                    <a href="#">打底裤</a>
                    <a href="#">卫衣</a>
                    <a href="#">打底裤</a>
                </h5>
            </div>
        </li>
        <li class="menu-li">
            <div class="pro-type-block">
                <h5 class="pro-type-parent"><a href="#">女装</a></h5>
                <h5 class="pro-type-child">
                    <a href="#">打底裤</a>
                    <a href="#">卫衣</a>
                    <a href="#">打底裤</a>
                </h5>
            </div>
        </li>
    </ul> --}}

    <ul class="menu pull-left">
        {{#each nav}}
        <li class="menu-li">
            <div class="pro-type-block">
                {{#each this.Parent}}
                    <h5 class="pro-type-parent">
                        <a href="{{this.url}}">{{this.name}}</a>
                    </h5>
                    <h5 class="pro-type-child">
                        {{#each this.childtype}}
                            <a href="{{this.url}}">{{this.name}}</a>
                        {{/each}}
                    </h5>
                {{/each}}
            </div>
            <div class="menu-con">
                <div class="pro-left pull-left">
                    {{#each this.Child}}
                    <div class="pro-type-block">
                        <h5 class="pro-type-parent">
                            <a href="{{this.url}}">{{this.name}}</a>
                        </h5>
                        <h5 class="pro-type-child">
                            {{#each this.childtype}}
                                <a href="{{this.url}}">{{this.name}}</a>
                            {{/each}}
                        </h5>
                    </div>
                    {{/each}}
                </div>
                <div class="pro-right pull-left">
                    <div class="pro-type-block">
                        <h5 class="pro-type-parent">推荐商家</h5>
                        <h5 class="pro-type-child">
                            {{#each this.Recommend}}
                                <span><a href="{{this.url}}">{{this.name}}</a></span>
                            {{/each}}
                        </h5>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>


      <div class="bannerbox">
        <div class="row">
          <div class="col-sm-2 menu"><img src="assets/images/temp/1.png" alt=""></div>
          <div class="col-sm-7 col-xs-9 banner">
            <div><img src="assets/images/temp/5.jpeg" alt=""></div>
            <div class="row rob">
              <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/3.png" alt=""></div>
              <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/3.png" alt=""></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3 dynamic">
            <div class="dynamic-d"><img src="assets/images/temp/2.png" alt=""></div>
            <div class="dynamic-min"><img src="assets/images/temp/4.png" alt=""></div>
          </div>
        </div>
      </div>
      <div class="activity-door">
        <div class="row">
          <div class="col-sm-2 col-xs-4 left"><img src="assets/images/temp/6.jpg" alt=""></div>
          <div class="col-sm-5 col-xs-8 center">
            <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
            <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
            <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
            <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
          </div>
          <div class="col-sm-5 right"><img src="assets/images/temp/8.jpg" alt=""></div>
        </div>
      </div>
      <div class="sentiment">
        <div class="title qf">
          <span>淘艺<i>推荐</i></span>
          <ul class="qf">
            <li class="active">优雅淑女</li>
            <li>欧美外贸</li>
            <li>气质名媛</li>
            <li>夜店排队</li>
          </ul>
        </div>
        <div class="row productbox">
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
          <div class="col-sm-2 col-xs-4 product">
            <img src="assets/images/temp/9.jpg" alt="">
            <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
            <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
          </div>
        </div>
      </div>
      <div class="market-class qf">
        <div class="row">
          <div class="col-sm-9 col-xs-12 market-left fl">
            <h3 class="left-title qf">
              <span class="name">女装批发市场</span>
              <span class="warnmsg"><i></i>新款推荐</span>
              <ul class="typedetail fr">
                <li><a href="javascript:;">外套</a></li>
                <li><a href="javascript:;">连衣裙</a></li>
                <li><a href="javascript:;">更多</a></li>
              </ul>
            </h3>
            <div class="left-content">
              <div class="row">
                <ul class="qf"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3  col-xs-12 market-right fr">
            <h2>热销女装推荐</h2>
            <div class="swiperimg"><img src="http://www.taoee.com/upload/image/eab151fe00a840f89deeac3a1c3a8eed.png" alt=""></div>
            <h2>本月女装排行</h2>
            <div class="mouthlist"></div>
          </div>
        </div>
      </div>

  <script id="market-class-left" type="text/x-handlebars-template">
    {{#each this}}
    <li class="list col-md-3 col-sm-4 col-xs-4"><a href="{{url}}">
      <div>
        <img src="{{img}}">
        <p>{{des}}</p>
        <p>{{price}}</p>
      </div>
    </a></li>
    {{/each}}
  </script>
  <script id="market-class-right" type="text/x-handlebars-template">
    {{#each this}}
    <dl class="qf"><a href="{{url}}">
      <dt class="fl">
        <img src="{{img}}">
      </dt>
      <dd>
        <p class="txt">{{des}}</p>
        <p><span>¥{{price}}</span>批发 {{num}}件</p>
      </dd>
    </a></dl>
    {{/each}}
  </script>
  <script>
    var data = [{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/f90e548d0d134794b2f7bc4c689747ba.jpg",
      des: "圆领短袖T+高腰背带裙 套装",
      price: "56.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/04bd169a7cdb44698211fe797005ddcd.jpg",
      des: "韩版雪纺上衣名媛阔腿裤两件套时尚洋气套装女夏",
      price: "45.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/f90e548d0d134794b2f7bc4c689747ba.jpg",
      des: "圆领短袖T+高腰背带裙 套装",
      price: "56.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/04bd169a7cdb44698211fe797005ddcd.jpg",
      des: "韩版雪纺上衣名媛阔腿裤两件套时尚洋气套装女夏",
      price: "45.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/f90e548d0d134794b2f7bc4c689747ba.jpg",
      des: "圆领短袖T+高腰背带裙 套装",
      price: "56.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/f90e548d0d134794b2f7bc4c689747ba.jpg",
      des: "圆领短袖T+高腰背带裙 套装",
      price: "56.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/04bd169a7cdb44698211fe797005ddcd.jpg",
      des: "韩版雪纺上衣名媛阔腿裤两件套时尚洋气套装女夏",
      price: "45.00"
    },{
      url: "javascript:;",
      img: "http://www.taoee.com/upload/image/f90e548d0d134794b2f7bc4c689747ba.jpg",
      des: "圆领短袖T+高腰背带裙 套装",
      price: "56.00"
    }]

    var data2 = [{
      url: "javascript:;",
      img: "http://gd1.alicdn.com/bao/uploaded/i1/TB1D11rHXXXXXbtXXXXXXXXXXXX_!!0-item_pic.jpg",
      des: "9188#2015夏装新款雪纺花色开衫防晒雪纺衫",
      price: "56.00",
      num: "1024"
    },{
      url: "javascript:;",
      img: "http://gd1.alicdn.com/bao/uploaded/i1/76897593/TB2lplunVXXXXaTXpXXXXXXXXXX_!!76897593.jpg",
      des: "6814*韩版显瘦蕾丝拼接荷叶袖条纹衬衫",
      price: "45.00",
      num: "1024"
    },{
      url: "javascript:;",
      img: "http://gd1.alicdn.com/bao/uploaded/i1/TB1D11rHXXXXXbtXXXXXXXXXXXX_!!0-item_pic.jpg",
      des: "9188#2015夏装新款雪纺花色开衫防晒雪纺衫",
      price: "56.00",
      num: "1024"
    },{
      url: "javascript:;",
      img: "http://gd1.alicdn.com/bao/uploaded/i1/76897593/TB2lplunVXXXXaTXpXXXXXXXXXX_!!76897593.jpg",
      des: "6814*韩版显瘦蕾丝拼接荷叶袖条纹衬衫",
      price: "45.00",
      num: "1024"
    }]


  </script>
  {{!-- <script src="/assets/js/common.js"></script> --}}
  {{!-- <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/handlebars-v4.0.11.js"></script>
  <script>
      $(function() {
        useTemplate($("#market-class-left"),data,$(".left-content ul"));
        useTemplate($("#market-class-right"),data2,$(".mouthlist"));
        function useTemplate(templateId,data,htmlBox) {
            var t = templateId.html();
            var f = Handlebars.compile(t);
            var h = f(data);
            htmlBox.html(h);
            console.log(f)
            console.log(t)
            console.log(h)
            //htmlBox.html("sadfasdfasd")
        }
      })
  </script> --}}
  
{{!-- <h1>{{title}}</h1>
<p>Welcome to 1 {{title}}</p>
<p>You can find me in {{city}}. My address is {{number}} {{street}}.</p>
<img src="{{picurl}}" alt=""> --}}