{{!-- {{#hehe}} 
{{> component/tt }} 
{{/hehe}}  --}}
{{!-- {{#yo}} {{> tt }} {{/yo}} {{#she}} {{> tt }} {{/she}} --}}
<div class="wrapper">
    <div class="container">
        <div class="banner-con clearfix">
            <ul class="menu pull-left">
                {{#each nav}}
                <li class="menu-li">
                    <div class="pro-type-block">
                        {{#each this.Parent}}
                        <div class="pro-type-parent">
                            <a href="{{this.url}}">{{this.name}}</a>
                        </div>
                        <div class="pro-type-child">
                            {{#each this.childtype}}
                            <a href="{{this.url}}">{{this.name}}</a> {{/each}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="menu-con">
                        <div class="pro-left pull-left">
                            {{#each this.Child}}
                            <div class="pro-type-block">
                                <div class="pro-type-parent">
                                    <a href="{{this.url}}">{{this.name}}</a>
                                </div>
                                <div class="pro-type-child">
                                    {{#each this.childtype}}
                                    <a href="{{this.url}}">{{this.name}}</a> {{/each}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="pro-right pull-left">
                            <div class="pro-type-block">
                                <div class="pro-type-parent">推荐商家</div>
                                <div class="pro-type-child">
                                    {{#each this.Recommend}}
                                    <span>
                                <a href="{{this.url}}">{{this.name}}</a>
                            </span> {{/each}}
                                </div>

                            </div>
                </li>
                {{/each}}
            </ul>
        </div>

        {{!-- <div class="bannerbox">
            <div class="row">
                <div class="col-sm-2 menu"><img src="assets/images/temp/1.png" alt=""></div>
                <div class="col-sm-7 col-xs-9 banner">
                    <div><img src="assets/images/temp/5.jpeg" alt=""></div>
                    <div class="row rob">
                        <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/3.png" alt=""></div>
                        <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/3.png" alt=""></div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 dynamic">
                    <div class="dynamic-d"><img src="assets/images/temp/2.png" alt=""></div>
                    <div class="dynamic-min"><img src="assets/images/temp/4.png" alt=""></div>
                </div>
            </div>
        </div> --}}
        <div class="activity-door">
            <div class="row">
                <div class="col-sm-2 col-xs-4 left"><img src="assets/images/temp/6.jpg" alt=""></div>
                <div class="col-sm-5 col-xs-8 center">
                    <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
                    <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
                    <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
                    <div class="col-sm-6 col-xs-6"><img src="assets/images/temp/7.png" alt=""></div>
                </div>
                <div class="col-sm-5 right"><img src="assets/images/temp/8.jpg" alt=""></div>
            </div>
        </div>
        <div class="sentiment">
            <div class="title qf">
                <span>淘艺<i>推荐</i></span>
                <ul class="qf">
                    <li class="active">优雅淑女</li>
                    <li>欧美外贸</li>
                    <li>气质名媛</li>
                    <li>夜店排队</li>
                </ul>
            </div>
            <div class="row productbox">
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf"><span class="fl price">￥40.00</span><span class="fl shopname">韩范衣柜</span></p>
                </div>
            </div>
        </div>
        {{#each woman}}
        <div class="market-class qf">
            <div class="row">
                {{> component/proMarket }}
                {{> component/hotRank }}
            </div>
        </div>
        {{/each}}

        {{#each man}}
        <div class="market-class qf">
            <div class="row">
                {{> component/proMarket }}
                {{> component/hotRank }}
            </div>
        </div>
        {{/each}}
    </div>
</div>